:root {
  --blue: #1c5a71;
  --background: #f8f8f8;
  --darkblue: #002b58;
}

body {
  color: var(--darkblue);                  
  font-size: 16px;
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2em;
  color: var(--blue);
  display: inline-block
}

h2 {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

h4{
  text-align: center;
  color: red;
}

p,h3{
  color: var(--darkblue);
  width:80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
}

.comment{
  width:60%;
  margin-bottom: 1.2cm;
  margin-top: 5px;
  font-size: 0.9em;
}

.dragdrop {
  background-color: #8b8e92;
  height: 3.7cm;
  text-align: center;
  border: 2.5px dashed var(--background);
  width:60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2cm;
}
.dragdrop_text{
  color: var(--background);
  font-size: 1.2em;
}

table, th, td {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
  margin-bottom: 2cm;
}
th, td {
  border-bottom: 2px solid var(--background);
}

th{
  color: var(--blue);
}

#simpletable{
  width: 50%;
}
#simpletable th, #simpletable td{
  border-bottom: 1px solid var(--darkblue);
}


.center {
  margin-left: auto;
  margin-right: auto;
}

#download{ 
  display: block;
  margin: 0 auto 30px auto;
}

#info{
  margin: 0 auto 30px auto;
  display: inline-block;
}

#about{
  float: right;
  margin:30px;
}

#info, #about, #download{
  background-color: var(--background); 
  border-radius: 4px;
  border: 2.3px solid var(--blue);
  text-align: center;
  color:  var(--blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  cursor:pointer;
}

.buttons-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 50px 0 0 0;
}

.hr_line{
  color:rgb(185, 184, 184);
  border-top: 1px;
  margin-left:7vmax;
}

#spinner{
  display: block;
  margin: 0 auto 20px auto;
}

a {
  color:  var(--blue);
  text-decoration: none;
  font-weight: bold;
}

.button_with_link {     
  display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: 10px 20px;    
  margin: -10px -20px; 
}

a:hover {
  cursor:pointer;
 }

#selecttext{
  color:  var(--blue);
}

#selecttext:hover{
  cursor:pointer;
}


.CellWithComment{
  position:relative;
  color:rgb(160, 17, 46);
}

.CellComment{
  display:none;
  position:absolute; 
  z-index:1;
  border:1px;
  background-color:var(--background);
  padding:0px;
  color:rgb(160, 17, 46); 
  width:100%;
  height:100%;
  top:0px; 
  left:2px;
}

.CellWithComment:hover span.CellComment{
  display:block;
}

.red{
  color:rgb(160, 17, 46);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  
}
#headerrow{
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 135%;
  left: 50%;  
  margin-left: -100px;
}
#glossary, #glossary_end{
  width:30vw;
  position: absolute;
  left: 50%;
  margin-left: -15vw;
  font-weight:normal;
  line-height: 120%;
}

#glossary{
  top: 115%;
}

#glossary_end{
  bottom: 100%;
}

.tooltip .tooltiptext::after{
  content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip #glossary_end.tooltiptext::after{
  top: 100%;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

#nofloat {
  clear: both;
}

