:root {
  --blue: #003e74;
  --background: #f8f8f8;
  --darkblue: #030f25;
  --spinner: #003e744f;
}

body {
  color: var(--darkblue);                  
  font-size: 18px;
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5em;
  color: var(--blue);
  margin-left: 3cm;
  margin-right: 3cm;
}

h4{
  text-align: center;
  color: red;
}

p{
  color: var(--darkblue);
  margin-left: 3cm;
  margin-right: 3cm;
}

.dragdrop {
  background-color: #3a6b9b;
  height: 2.7cm;
  text-align: center;
  border: 2.5px dashed var(--background);
  margin: 1.3cm 7cm 1cm 7cm;
}
.dragdrop_text{
  color: var(--background);
}

table, th, td {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
  margin-bottom: 2cm;
}
th, td {
  border-bottom: 1px solid #ddd;
}

th{
  color: var(--blue);
}

tr:nth-child(even) {background-color: #cee1eb;}

.center {
  margin-left: auto;
  margin-right: auto;
}

#download{
  background-color: var(--background); 
  border-radius: 4px;
  border: 2.3px solid var(--blue);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  margin: 0 auto 20px auto;
  
}

#spinner{
  display: block;
  margin: 0 auto 20px auto;
}

a {
  color:  var(--blue);
  text-decoration: none;
}

.falseLength{
  color:crimson;
}

.rightLength{
  color:var(--darkblue);
}

.CellWithComment{
  position:relative;
  color:crimson;
}

.CellComment{
  display:none;
  position:absolute; 
  z-index:100;
  border:1px;
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color:crimson;
  padding:3px;
  color:crimson; 
  top:10px; 
  left:25%;
}

.CellWithComment:hover span.CellComment{
  display:block;
}