body {
  color: #414141;                  
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

.dragdrop {
  background-color: #d4d4d4;
  height: 3cm;
  text-align: center;
  border: 2.5px dashed #5D6063;
  margin: 0 3cm 0 3cm;
}

table, th, td {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
}
th, td {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.center {
  margin-left: auto;
  margin-right: auto;
}